body {
    background: url(../images/steak.jpg) no-repeat ;
    background-size: cover;  
    font-family: 'icomoon';
}

h1{
    color: whitesmoke;
}

.lead{
    color: whitesmoke;
}
.carousel-inner{
    height: 260px;
}

#la-carte{
    background-color: wheat;
}

a:link {
    text-decoration: none;
}

.well-lg{
    background-color: #c4e3f3;
}
.lead{
    color: black;
}